.nav {
    background: white;
}

.bodyWrapper {
    background: #F0F0F0;
}

.section {
    background: #F0F0F0;
}

.nav .item a:not(.btn-blue) {
    color: #4e4e4e;
}

.nav .item img.red {
    display: inline;
    visibility: visible;
}

.nav .item img.white {
    display: none;
}

#sideNav {
    left: 0;
    position: fixed;
    top: 110px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 300px;
    z-index: 2;
}

#sideNav #close {
    cursor: pointer;
    display: none;
    font-size: 2.5rem;
    font-weight: 900;
    position: absolute;
    padding: .3rem;
    right: 1rem;
    top: 0;
}

#tab {
    display: none;
}

#sideNav > div {
    padding: 1rem 1rem 1rem 3rem;
}

#sideNav > div > h6 {
    font-size: 1rem;
    margin: 0;
    padding-left: .5rem;
}

#sideNav > div > ul {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
}

#sideNav > div > ul li {
    line-height: 1;
    margin: 0;
}

#sideNav > div > ul li a {
    color: black;
    font-family: Montserrat-Regular;
    font-size: .8rem;
    padding: .2rem .5rem;
    text-decoration: none;
}

#sideNav > div > ul li a:hover {
    background: #a50034;
    border-radius: .15rem;
    color: white;
}

.section#toContentsSection {
    padding: 2rem 0 6rem 20rem;
}

.section#toContentsSection .quizResponse .correct {
    color: green;
    display: none;
    font-family: Dosis-Bold;
    font-size: 1.5rem;
}

.section#toContentsSection .quizResponse .incorrect {
    color: red;
    display: none;
    font-family: Dosis-Bold;
    font-size: 1.5rem;
}

.section#toContentsSection .lesson > .card {
    background: white;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0 2rem;
    padding: 1rem;
    width: 80%;
}

.section#toContentsSection .lesson > .card h3 {
    margin: 0 0 .2rem;
}

.section#toContentsSection .lesson > .card ul.quiz {
    padding: 0;
    list-style: none;
}

.section#toContentsSection .lesson > .card ul li {
    font-size: 1.2rem;
}

pre.rholang-file, pre.inline-code {
    background: #D3D3D3;
    display: block;
    margin: 0 0 1rem;
    padding: .5rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

pre, code {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.section#toContentsSection .lesson > .card > h6 {
    font-family: Montserrat-Regular;
    font-weight: normal;
    margin: 0 0 1rem;
}

.section#toContentsSection .lesson > .card#intro > p {
    font-family: Dosis-Light;
    font-size: 1rem;
    margin: 0;
}

.section#toContentsSection .lesson > .card > p {
    font-family: Montserrat-Regular;
    font-size: 1.2rem;
    margin: 0 0 1.2rem;
}

.section#toContentsSection .lesson > .card > h1 {
    font-family: Montserrat-Thin;
}

.section#toContentsSection .lesson > .card > h2 {
    font-size: 1.7rem;
    margin: 2rem 0 .3rem;
}

.section#toContentsSection .lesson > .card .imgWrapper {
    margin: 1rem auto;
    width: 20rem;
}

.section#toContentsSection > div:nth-child(1) > div > span:nth-child(1) {
    display: inline-block;
    margin: .5rem .7rem .2rem 0;
    width: 3rem;
    vertical-align: middle;
}

.section#toContentsSection > div:nth-child(1) > div > span:nth-child(2) {
    color: black;
    font-family: Montserrat-Regular;
    font-size: 1.3rem;
    vertical-align: middle;
}

.section#toContentsSection > div > h2:nth-child(1) {
    color: #ff4143;
    font-family: Montserrat-Thin;
    font-size: 2rem;
    margin: 0 0 2rem;
}

.section#toContentsSection > div > ul {
    list-style: none;
    padding: 0 0 0 4rem;
}

.section#toContentsSection > div > ul li {
    margin-bottom: 1.2rem;
}

.section#toContentsSection > div > ul li a {
    border-bottom: 1px solid black;
    color: #42022e;
    display: inline-block;
    font-family: Dosis-Light;
    font-size: 1.5rem;
    line-height: 1;
}

.section#toContentsSection > div > ul li a > span:nth-child(1) {
    font-weight: bold;
}





@media (max-width: 1200px) {
    #sideNav > div {
        padding: 1rem 1rem 1rem 2rem;
    }
    .section#toContentsSection {
        padding: 2rem 2rem 6rem 20rem;
    }
    .section#toContentsSection .lesson > .card {
        width: 100%;
    }
}

@media (max-width: 960px) {
    #sideNav {
        width: 29vw;
    }
    #sideNav > div {
        padding: 1rem .5rem 1rem;
    }
    #sideNav > div > h6 {
        font-size: 1.6vw;
        margin: 0 0 .5rem;
    }
    #sideNav > div > ul li {
        margin: 0 0 .5rem;
    }
    #sideNav > div > ul li a {
        font-size: 1.35vw;
    }
    .section#toContentsSection {
        padding: 2rem 2rem 6rem 30vw;
    }
    .section#toContentsSection .lesson > .card .imgWrapper {
        width: 15rem;
    }
    .section#toContentsSection .lesson > .card > p {
        font-size: 1rem;
    }
    .section#toContentsSection .lesson > .card#intro > p {
        font-size: .9rem;
    }
    .section#toContentsSection > div:not(:nth-child(1)),
    .section#toContentsSection > div:nth-child(1) > div {
        width: auto;
    }
    .section#toContentsSection > div:not(:nth-child(1)) {
        margin: 0 auto 2rem;
    }
    .section#toContentsSection > div > h2:nth-child(1) {
        font-size: 1.5rem;
    }
    .section#toContentsSection > div > h2:nth-child(1) {
        margin: 0 0 1rem;
    }
    .section#toContentsSection > div > ul li a {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    p,
    li {
        font-size: .9rem;
    }
    #sideNav {
        background: white;
        border: 1px solid black;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        left: -21rem;
        padding-top: 2.5rem;
        width: 20rem;
    }
    #sideNav #close {
        display: inline-block;
    }
    #sideNav > div > h6 {
        font-size: 1rem;
    }
    #sideNav > div > ul li {
        margin: 0 0 .7rem;
    }
    #sideNav > div > ul li a {
        font-size: 1.2rem;
    }
    #tab {
        background: white;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid black;
        cursor: pointer;
        display: inline-block;
        font-family: Montserrat-Medium;
        font-size: 1.5rem;
        left: -44px;
        padding: .5rem;
        position: fixed;
        top: 9.5rem;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        z-index: 1;
    }
    #sideNav.active {
        left: -.1rem;
    }
    .section#headerSection {
        padding: 6rem .7rem 2rem;
    }
    .section#headerSection .textWrapper {
        width: auto;
    }
    .section#headerSection .textWrapper > p {
        width: 70%;
    }
    .section#headerSection > ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding: 1rem;
    }
    .section#headerSection > ul > li {
        margin: 0 .5rem .8rem;
        width: auto;
    }
    .section#headerSection > ul li p {
        font-size: .8rem;
        margin-top: .3rem;
        width: 80%;
    }
    .section#toContentsSection {
        padding: 2rem .7rem 7rem 3.5rem;
    }
    pre.rholang-file, pre.inline-code {
        display: block;
        overflow: scroll;
    }
    .section#toContentsSection .lesson > .card > h1 {
        font-size: 1.5rem;
        margin: 0 0 .5rem;
    }
    .section#toContentsSection .lesson > .card .imgWrapper {
        margin: 0 auto 1rem;
        width: auto;
    }
    .section#toContentsSection .lesson > .card > p {
        font-size: .8rem;
    }
    .section#toContentsSection .lesson > .card > h3 {
        margin: 0 0 .5rem;
    }
    .section#toContentsSection .lesson > .card > h2 {
        font-size: 1.5rem;
    }
    .section#toContentsSection .lesson > .card ul li {
        font-size: 1rem;
    }

}

@media (max-width: 650px) {
    .section#headerSection .imgWrapper {
        display: none;
    }
    .section#rhoSection .flexWrapper {
        display: block;
        margin-bottom: 3rem;
    }
    .section#headerSection .textWrapper {
        width: auto;
    }
    .section#headerSection .textWrapper > h1,
    .section#rhoSection > h1 {
        font-size: 6vw;
    }
    .section .textWrapper,
    .section .imgWrapper {
        display: block;
    }
    .section#rhoSection .flexWrapper .textWrapper {
        width: 80%;
    }
    .section#headerSection > ul {
        display: block;
        margin: auto;
        padding: 1rem 0;
    }
    .section#headerSection > ul > li {
        width: 100%;
    }
    .section#rhoSection .flexWrapper .imgWrapper {
        margin-bottom: 1rem;
        width: 100%;
    }
    .section#communitySection {
        padding-bottom: 4rem;
    }
    .section#communitySection > .flexWrapper:nth-child(2) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
    }
}

@media (max-width: 550px) {
    .section#toContentsSection .lesson > .card > h1 {
        font-size: 5vw;
    }
}

@media (max-width: 450px) {
    .section#rhoSection > div:nth-last-child(1) {
        font-size: 4.5vw;
    }
    .section#rhoSection .flexWrapper .textWrapper {
        width: 100%;
    }
}