@font-face {
    font-family: Dosis-ExtraLight;
    src: url(/fonts/dosis/Dosis-ExtraLight.otf);
}

@font-face {
    font-family: Dosis-Light;
    src: url(/fonts/dosis/Dosis-Light.otf);
}

@font-face {
    font-family: Dosis-Regular;
    src: url(/fonts/dosis/Dosis-Regular.otf);
}

@font-face {
    font-family: Dosis-Medium;
    src: url(/fonts/dosis/Dosis-Medium.otf);
}

@font-face {
    font-family: Dosis-Bold;
    src: url(/fonts/dosis/Dosis-Bold.otf);
}

@font-face {
    font-family: Dosis-ExtraBold;
    src: url(/fonts/dosis/Dosis-ExtraBold.otf);
}

@font-face {
    font-family: MontserratAlternates-Light;
    src: url(/fonts/montserrat/MontserratAlternates-Light.otf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(/fonts/montserrat/Montserrat-Black.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/fonts/montserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(/fonts/montserrat/Montserrat-ExtraBold.otf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(/fonts/montserrat/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(/fonts/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(/fonts/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(/fonts/montserrat/Montserrat-ExtraLight.otf);
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(/fonts/montserrat/Montserrat-Thin.otf);
}

@font-face {
    font-family: Montserrat-ExtraLightItalic;
    src: url(/fonts/montserrat/Montserrat-ExtraLightItalic.otf);
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url(/fonts/montserrat/Montserrat-LightItalic.otf);
}




