p, li {
    font-size: 1.25rem;    
}

.nav .item img.red {
    display: inline;
    visibility: visible;
}

.nav .item img.white {
    display: inline;
    visibility: hidden;
}

.nav .item a:not(.btn-blue) {
    color: #4e4e4e;
}

.section#rchainSection {
    padding: 4rem 4rem 2rem;
}

.section#rchainSection > h1 {
    font-size: 2.4rem;
    margin: 0 auto .7rem;
    text-align: center;
}

.section#rchainSection > h3 {
    font-family: Dosis-ExtraLight;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.section#rchainSection > p:nth-child(4) {
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    width: 70%;
}

.section#rchainSection .wrapper {
    display: inline-block;
    padding-top: 8rem;
    width: 49%;
    vertical-align: top;
}

.section#rchainSection > .wrapper:nth-child(5) {
    padding: 8rem 2rem 1rem 6rem;
}

.section#rchainSection > .wrapper:nth-child(6) {
    padding: 8rem 6rem 1rem 2rem;
}

.section#rchainSection .wrapper .textWrapper h2 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: .7rem;
    text-transform: uppercase;
}

.section#rchainSection .wrapper .textWrapper p {
    margin: 0;
}

.section#rhoSection {
    background: #42022e;
    padding: 4rem 10rem 4rem;
}

.section#rhoSection > div:nth-child(1) {
    text-align: center;
}

.section#rhoSection > div:nth-child(1) h3
{
    color: #ff4143;
    font-size: 1.2rem;
    margin: 0 0 .5rem;
}
.section#rhoSection > div:nth-child(1) h2 {
    color: white;
    font-size: 2rem;
    margin: 0 0 .5rem;
}

.section#rhoSection > div:nth-child(1) p {
    color: white;
    margin: 0 0 6rem;
}

.section#rhoSection > .flexWrapper h1 {
    color: #DAACD5;
    font-family: Montserrat-Regular;
    font-size: 2.3rem;
    margin-right: 2rem;
    text-transform: uppercase;
    width: 30%;
}

.section#rhoSection > .flexWrapper > .flexWrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 70%;
}

.section#rhoSection > .flexWrapper > .flexWrapper p {
    background: white;
    border-radius: .3rem;
    margin: 0 .5rem 1rem;
    padding: .8rem 1.5rem;
    width: 47%;
}

.section#rhoSection > .flexWrapper:nth-child(2) {
    margin-bottom: 2rem;
}

.section#posSection {
    padding: 4rem 4rem;
}

.section#posSection .flexWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section#posSection .flexWrapper .imgWrapper {
    margin-bottom: 1.5rem;
    width: 45%;
}

.section#posSection .flexWrapper .textWrapper {
    width: 45%;
}

.section#posSection .flexWrapper .textWrapper h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: .7rem;
}

.section#posSection .flexWrapper .textWrapper ul {
    padding: 0 0 0 1.5rem;
}

.section#posSection .flexWrapper .textWrapper ul li {
    margin-bottom: 1rem;
}

.section#communitySection {
    background: #fafafa;
    padding: 4rem 4rem 8rem;
}

.section#communitySection > div:nth-child(1) {
    margin: 0 auto 3rem;
    text-align: center;
    width: 80%;
}

.section#communitySection > div:nth-child(1) h6 {
    color: red;
    font-size: .8rem;
    margin: 0;
    text-transform: uppercase;
}

.section#communitySection > div:nth-child(1) h2 {
    font-size: 2rem;
    margin: .5rem 0 .5rem;
}

.section#communitySection > div:nth-child(1) p {}

.section#communitySection > .flexWrapper:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 3rem;
    max-width: 1500px;
}

.section#communitySection > .flexWrapper:nth-child(2) > div {
    text-align: center;
    width: 31%;
}

.section#communitySection > .flexWrapper:nth-child(2) > div img {
    width: 5rem;
}

.section#communitySection > div:nth-child(3) {
    text-align: center;
}



@media (max-width: 1200px) {
    .section#rchainSection > .wrapper:nth-child(5) {
        padding: 8rem 2rem 1rem 0;
    }
    .section#rchainSection > .wrapper:nth-child(6) {
        padding: 8rem 0 1rem 2rem;
    }
    .section#rchainSection > p:nth-child(4) {
        width: 90%;
    }
    .section#rchainSection .flexWrapper .textWrapper {
        padding-top: 8vw;
    }
    .section#rchainSection .flexWrapper .textWrapper {
        padding-top: 3vw;
    }
    .section#rchainSection .flexWrapper .textWrapper h2 {
        font-size: 2rem;
    }
    .section#rhoSection {
        padding: 4rem;
    }
    .section#rhoSection > .flexWrapper h1 {
        font-size: 2.1rem;
    }
    .section#posSection .flexWrapper .imgWrapper {
        width: 47%;
    }
    .section#posSection .flexWrapper .textWrapper {
        width: 47%;
    }
    .section#posSection .flexWrapper .textWrapper h2 {
        margin: 0;
    }
    .section#communitySection > .flexWrapper:nth-child(3) .flexWrapper h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 960px) {
    .section#rchainSection {
        padding: 4rem;
    }
    .section#rchainSection > h1 {
        font-size: 1.6rem;
    }
    .section#rchainSection > h1 {
        margin: 0 auto .2rem;
    }
    .section#rchainSection > h3 {
        font-size: 1.2rem;
    }
    .section#rchainSection > p:nth-child(4) {
        font-size: 1rem;
    }
    p, li {
        font-size: .9rem;
    }
    .section#rchainSection > .wrapper:nth-child(5) {
        padding: 5rem 1rem 1rem 0;
    }
    .section#rchainSection > .wrapper:nth-child(6) {
        padding: 5rem 0 1rem 1rem;
    }
    .section#rchainSection .wrapper .textWrapper h2 {
        font-size: 1.2rem;
        margin: .7rem 0 .2rem;
    }
    .section#rchainSection > div:nth-last-child(1) {
        font-size: 1.2rem;
    }
    .section#rhoSection {
        padding: 4rem 2rem;
    }
    .section#rhoSection > .flexWrapper h1 {
        font-size: 1.7rem;
    }
    .section#rhoSection > .flexWrapper > .flexWrapper p {
        width: 46%;
    }
    .section#communitySection {
        padding: 4rem 2rem 8rem;
    }
    .section#communitySection > .flexWrapper:nth-child(2) > div img {
        width: 3.5rem;
    }
    .section#communitySection > .flexWrapper:nth-child(3) .flexWrapper h2 {
        font-size: 1.2rem;
    }
    .section#communitySection > .flexWrapper:nth-child(3) .flexWrapper a {
        font-size: .9rem;
    }
}

@media (max-width: 767px) {
    p,
    li {
        font-size: .9rem;
    }
    .section#rchainSection {
        padding: 2rem .7rem;
    }
    .section#rchainSection > .wrapper {
        width: 100%;
    }
    .section#rchainSection > .wrapper:nth-child(5), .section#rchainSection > .wrapper:nth-child(6) {
        padding: 1rem 0 2rem;
    }
    .section#rchainSection > .wrapper >
    .imgWrapper {
        margin: 0 auto 1.5rem;
        padding: 2rem 3rem 0;
    }
    .section#rchainSection > .wrapper > .textWrapper {
        margin: auto;
        text-align: center;
        width: 80%;
    }
    .section#rhoSection {
        padding: 2rem .7rem;
    }
    .section#rhoSection > div:nth-child(1) p {
        margin: 0 0 2rem;
    }
    .section#rhoSection > div:nth-child(1) h2 {
        font-size: 1.6rem;
    }
    .section#rhoSection > .flexWrapper:nth-child(2) {
        display: block;
    }
    .section#rhoSection > .flexWrapper:nth-child(3) {
        display: block;
    }
    .section#rhoSection > .flexWrapper h1 {
        text-align: center;
        width: auto;
    }
    .section#rhoSection > .flexWrapper > .flexWrapper {
        width: auto;
    }
    .section#posSection {
        padding: 2rem .7rem;
    }
    .section#posSection .flexWrapper {
        display: block;
    }
    .section#posSection .flexWrapper .imgWrapper {
        padding: 0 8rem;
        width: auto;
    }
    .section#posSection .flexWrapper .textWrapper {
        width: auto;
    }
    .section#posSection .flexWrapper .textWrapper h2 {
        font-size: 1.2rem;
        text-align: center;
    }
    .section#posSection .flexWrapper .textWrapper ul {
        padding: 0 4rem;
    }
    .section#communitySection {
        padding: 2rem .7rem 8rem;
    }
    .section#communitySection > div:nth-child(1) h2 {
        font-size: 1.1rem;
    }
    .section#communitySection > .flexWrapper:nth-child(3) {
        display: block;
    }
    .section#communitySection > .flexWrapper:nth-child(3) > .flexWrapper:nth-child(1) {
        margin-bottom: 2rem;
        width: 100%;
    }
    .section#communitySection > .flexWrapper:nth-child(2) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .section#communitySection > .flexWrapper:nth-child(3) .flexWrapper h2,
    .section#communitySection > .flexWrapper:nth-child(3) .flexWrapper h2 {
        text-align: center;
    }
    .section#communitySection > .flexWrapper:nth-child(3) > .flexWrapper:nth-child(2) {
        display: block;
        width: auto;
    }
    .section#communitySection > .flexWrapper:nth-child(3) > div:nth-child(2) img {
        display: block;
        margin: auto;
        width: 25rem;
    }
    .section#communitySection > .flexWrapper:nth-child(3) .flexWrapper a {
        display: block;
    }
}

@media (max-width: 650px) {
    .section .textWrapper,
    .section .imgWrapper {
        display: block;
    }
    .section#rchainSection .flexWrapper .textWrapper {
        width: 80%;
    }
    .section#rchainSection .flexWrapper .imgWrapper {
        margin-bottom: 1rem;
        width: 100%;
    }
    .section#communitySection {
        padding-bottom: 4rem;
    }
    .section#communitySection > .flexWrapper:nth-child(2) {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 0;
    }
}

@media (max-width: 550px) {
    .section#rchainSection > h1 {
        font-size: 7.5vw;
    }
    .section#rchainSection > .wrapper > .imgWrapper {
        padding: 2rem 0 0;
    }
    .section#rchainSection > .wrapper > .textWrapper {
        width: auto;
    }
    .section#rhoSection > .flexWrapper h1 {
        font-size: 5vw;
    }
    .section#rhoSection > .flexWrapper > .flexWrapper {
        display: block;
    }
    .section#rhoSection > .flexWrapper > .flexWrapper p {
        width: auto;
    }
    .section#posSection .flexWrapper .imgWrapper {
        padding: 0 4rem;
        width: auto;
    }
    .section#posSection .flexWrapper .textWrapper ul {
        padding: 0 0 0 1.5rem;
    }
    .section#communitySection > div:nth-child(1) {
        width: 100%;
    }
    .section#communitySection > .flexWrapper:nth-child(3) > div:nth-child(2) img {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .section#rchainSection > div:nth-last-child(1) {
        font-size: 4.5vw;
    }
    .section#rchainSection .flexWrapper .textWrapper {
        width: 100%;
    }
}