<div class="section" id="headerSection">

    <div class="textWrapper">
        <h1>Reimagining the World, Many Blocks at a Time</h1>
        <p>RChain is a cooperative building a blockchain platform and tools to enable social coordination in robust, secure, and scalable ways.</p>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

    <div class="vidyaWrapper">
        <video width="900" height="500" controls>
            <source src="/assets/homepage/RChainHero_V5.mp4" type="video/mp4">
        </video>
    </div>

    <ul>
        <li><img src="/assets/icon-1@3x.png"><p>Unlock solutions to unprecedented global challenges and local crises affecting society.</p></li>
        <li><img src="/assets/icon-2@3x.png"><p>Realize superior scalability and speed capable of addressing the issues of today.</p></li>
        <li><img src="/assets/icon-3@3x.png"><p>Discover a complete blockchain solution that empowers people to work together holistically.</p></li>
        <li><img src="/assets/icon-4@3x.png"><p>Connect with a thriving community to solve complex, global challenges.</p></li>
    </ul>

</div>

<div class="section" id="rhoSection">

    <div class="divider"></div>
    <h1>The Rho Revolution</h1>
    <h3>A breakthrough concurrent computational system that unshackles the blockchain</h3>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/homepage/1_GIF5_1120x1120.gif">
        </div>
        <div class="textWrapper">
            <h2>A Complete System</h2>
            <p>RChain is pioneering transparent and secure transactions with an ultra-fast, global scale technology platform. Cooperative governance and a sustainable economic model make RChain a public utility which can be applied to the greatest problems today.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/homepage/2_GIF1_1220x1360.gif">
        </div>
        <div class="textWrapper">
            <h2>Fast and Efficient at Every Scale</h2>
            <p>Intelligent concurrency throughout the network and right-sized validation of every transaction prevents wasted resources. Transactions now happen with low execution costs and greater efficiency.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/homepage/3_GIF4_1120x1120.gif">
        </div>
        <div class="textWrapper">
            <h2>Dependable and Secure for all Applications</h2>
            <p>RChain's truly decentralized architecture design does not compromise security to achieve scale. Rholang, RChain's contract programming language, lets developers write for concurrency and formally verify all processes.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/homepage/4_GIF2_1220x1360.gif">
        </div>
        <div class="textWrapper">
            <h2>Built, Nurtured, and Governed Cooperatively</h2>
            <p>An inspirational and radically transparent open-source cooperative. RChain's member-driven contributions enrich every part of the system, resulting in unlimited organic growth.</p>
        </div>
    </div>

    <div>
        <a href="/platform" class="btn-blue2">Learn more about RChain and Rholang</a>
    </div>

</div>

<div class="section" id="communitySection">
    <div>
        <h6>Friends & Enthusiasts</h6>
        <h2>Engage with the Community</h2>
        <p>Community is the heart of RChain. Our inclusive cooperative, balancing results and a purpose-driven outlook, is what brings us together to build technology and social tools. Aimed at lifting our world up and affecting real, positive change, we will help each other flourish.</p>
    </div>

    <div class="flexWrapper">
        <div>
            <a href="https://github.com/rchain/" target="_blank"><img src="/assets/github@3x.png"></a>
        </div>
        <div>
            <a href="https://twitter.com/rchain_coop" target="_blank"><img src="/assets/twitter@3x.png"></a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank"><img src="/assets/youtube@3x.png"></a>
        </div>
        <div>
            <a href="https://discord.gg/fvY8qhx" target="_blank"><img src="/assets/discord@3x.png"></a>
        </div>
    </div>

</div>

<div class="section" id="getStartedSection">
    <div>
        <h2>Ready to Affect Change?</h2>
    </div>
    <div>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

</div>
