<div class="section" id="headerSection">
        <div class="textWrapper">
            <h1>Get started with RChain</h1>
    </div>
</div>

<div class="section" id="developerSection">

    <div id="tab">
        <div class="item tab active" id="developer">
            <img src="/assets/gear-icon@3x.png">
            <a href="javascript:void(0)">Developers</a>
        </div>
        <div class="item tab" id="validator">
            <img src="/assets/arrow-icon@3x.png">
            <a href="javascript:void(0)">Validators</a>
        </div>
    </div>

    <div class="tabContent active" id="developerContent">

        <div class="flexWrapper">
            <div class="textWrapper">
                <h2>Build dApps with RChain</h2>
                <p>RChain provides a complete platform for developers to build confidently and rapidly. With just a few lines of code, your first RChain DApp can be up and transacting on the blockchain.</p>
                <h6>Get started in 4 steps:</h6>
                <div class="list">
                    <div>
                        <p>1</p>
                        <p><a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/428376065/User+guide+for+running+RNode">Download RNode</a> and connect your Rnode to the network</p>
                    </div>
                    <div>
                        <p>2</p>
                        <p>Learn to <a href="https://github.com/JoshOrndorff/nth-caller-game" target="_blank">write your first DApp</a></p>
                    </div>
                    <div>
                        <p>3</p>
                        <p>Create your first DApp by completing the <a href="/learn-rholang">Rholang tutorial</a></p>
                    </div>
                    <div>
                        <p>4</p>
                        <p>Engage with the <a href="rchain-cooperative">RChain community</a></p>
                    </div>
                </div>
            </div>
            <div class="imgWrapper"><img src="/assets/get-started/1_GIF3_960x800.gif"></div>
        </div>
    </div>

    <div class="tabContent" id="validatorContent">
        <div class="flexWrapper">
            <div class="textWrapper">
                <h2>More information for validators is coming soon!</h2>
                <p>Check out our <a href="https://blog.rchain.coop/become-a-validator-and-acquire-rhoc-for-staking/" target="_blank">Committed Validators program</a> if you’re interested in acquiring stake ahead of Main Net launch.</p>
            </div>
            <div class="imgWrapper"><img src="/assets/get-started/2_Image1_960x800.png"></div>
        </div>
    </div>

</div>
