<div class="section" id="headerSection">

    <div class="textWrapper">
        <h1>Reimagining the World, Many Blocks at a Time</h1>
        <p>RChain is a cooperative dedicated to building platforms and tools to enlighten social coordination in robust, secure, and scalable ways.</p>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

    <div class="vidyaWrapper">
        <video width="900" height="500" controls></video>
    </div>

    <ul>
        <li><img src="/assets/icon-1@3x.png"><p>Unlock solutions to unprecedented global challenges and local crises affecting society.</p></li>
        <li><img src="/assets/icon-2@3x.png"><p>Realize superior scalability and speed capable of addressing the issues of today.</p></li>
        <li><img src="/assets/icon-3@3x.png"><p>Discover a complete blockchain solution that empowers people to work together holistically.</p></li>
        <li><img src="/assets/icon-4@3x.png"><p>Connect with a thriving community to solve complex, global challenges.</p></li>
    </ul>

</div>

<div class="section" id="rhoSection">

    <div class="divider"></div>
    <h1>The Rho Revolution</h1>
    <h3>A breakthrough concurrent computational system that unshackles the blockchain</h3>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/home-1-complete_1120x1120.gif">
        </div>
        <div class="textWrapper">
            <h2>A Complete System</h2>
            <p>RChain is pioneering transparent and secure transactions with an ultra-fast, global scale technology platform. Cooperative governance and a sustainable economic model make RChain a public utility which can be applied to the greatest problems today.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/home-2-efficient_1220x1360.gif">
        </div>
        <div class="textWrapper">
            <h2>Fast and Efficient at Every Scale</h2>
            <p>Intelligent concurrency throughout the network and right-sized validation of every transaction prevents wasted resources. Transactions now happen with low execution costs and greater efficiency.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/home-3-dependable_1120x1120.gif">
        </div>
        <div class="textWrapper">
            <h2>Dependable and Secure for all Applications</h2>
            <p>RChain's truly decentralized architecture design does not compromise security to achieve scale. Rholang, RChain's contract programming language, lets developers write for concurrency and formally verify all processes.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/home-4-builtbyyou_1220x1360.gif">
        </div>
        <div class="textWrapper">
            <h2>Built, Nurtured, and Governed Cooperatively</h2>
            <p>An inspirational and radically transparent open-source cooperative. RChain's member-driven contributions enrich every part of the system, resulting in unlimited organic growth.</p>
        </div>
    </div>

    <div>
        <a>Learn more about RChain and Rholang</a>
    </div>

</div>

<div class="section" id="communitySection">
    <div>
        <h6>Friends & Enthusiasts</h6>
        <h2>Engage with the Community</h2>
        <p>Community is the heart of RChain. Our inclusive cooperative, balancing results and a purpose-driven outlook, is what brings us together to build technology and social tools. Aimed at lifting our world up and affecting real, positive change, we will help each other flourish.</p>
    </div>

    <div class="flexWrapper">
        <div>
            <img src="/assets/rchain-community@3x.png">
        </div>
        <div>
            <img src="/assets/github@3x.png">
        </div>
        <div>
            <img src="/assets/twitter@3x.png">
        </div>
        <div>
            <img src="/assets/youtube@3x.png">
        </div>
<!--       
        <div>
            <img src="/assets/linkedin@3x.png">
        </div>
        <div>
            <img src="/assets/telegram@3x.png">
        </div> 
-->
        <div>
            <img src="/assets/discord@3x.png">
        </div>
<!--        <div>
            <img src="/assets/reddit@3x.png">
        </div>
-->
    </div>

    <!--
    <div class="flexWrapper">
        <div class="flexWrapper">
            <h2>Latest Articles</h2>
            <div>
                <img src="/assets/placeholder.png">
                <p>Article Title 1</p>
            </div>
            <div>
                <img src="/assets/placeholder.png">
                <p>Article Title 2</p>
            </div>
            <div>
                <img src="/assets/placeholder.png">
                <p>Article Title 3</p>
            </div>
            <a>Read more on the blog</a>
        </div>


        <div class="flexWrapper">
            <div>
                <h2>Upcoming Events</h2>
                <img src="/assets/placeholder.png">
            </div>
            <a>See all events</a>
        </div>
    </div>
    -->

</div>

<div class="section" id="getStartedSection">
    <div>
        <h2>Ready to Affect Change?</h2>
    </div>
    <div>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

</div>
