<div class="section" id="headerSection">

    <div class="textWrapper">
        <h1>Reimagine Harmonious Organization</h1>
        <p>RChain is a cooperative dedicated to building platforms and tools to enlighten social coordinatoin at every scale.</p>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

    <div class="vidyaWrapper">
        <video width="900" height="500" controls></video>
    </div>

    <ul>
        <li><img src="/assets/icon-1@3x.png"><p>We are facing unprecedented challenges and crises at every scale from local to global.</p></li>
        <li><img src="/assets/icon-2@3x.png"><p>Current social systems and technology that aren't capable of addressing our biggest challenges.</p></li>
        <li><img src="/assets/icon-3@3x.png"><p>Early blockchains proved that technology could empower people to work together and exchange in new ways, but they are incomplete.</p></li>
        <li><img src="/assets/icon-4@3x.png"><p>We need a new foundation and new tools to empower us to connect and to flourish.</p></li>
    </ul>

</div>

<div class="section" id="rhoSection">

    <div class="divider"></div>
    <h1>The Rho Revolution</h1>
    <h3>Unshackle the blockchain.</h3>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/placeholder.png">
        </div>
        <div class="textWrapper">
            <h2>Complete system</h2>
            <p>A fast, intelligent, global scale technology platform with distributed governance and efficient economics.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/placeholder.png">
        </div>
        <div class="textWrapper">
            <h2>Fast and efficient at every scale</h2>
            <p>Designed for concurrency. RChain intelligently optimizes the network and right-sizes every transaction so resources are never wasted and scale is limitless.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/placeholder.png">
        </div>
        <div class="textWrapper">
            <h2>Dependable for all kinds of applications</h2>
            <p>Truly decentralized architecture design does not rely on mega-validators, and Rholang providers a predictable and fully verifiable rho-powered programming language to interface with the blockchain.</p>
        </div>
    </div>

    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/placeholder.png">
        </div>
        <div class="textWrapper">
            <h2>Built and governed by you</h2>
            <p>Radically transparent member-driven cooperative model and open-source code for the technology stack builds cooperative governance.</p>
        </div>
    </div>

    <div>
        <a>Learn more about RChain and Rho</a>
    </div>

</div>

<div class="section" id="communitySection">
    <div>
        <h6>Friends & Enthusiasts</h6>
        <h2>Join Our Community</h2>
        <p>Community is the heart of RChain. It's the reason we are building technology and social tools to empower change. We are a cooperative network that is optimistic about our future and how we will help each other flourish.</p>
    </div>

    <div class="flexWrapper">
        <div>
            <img src="/assets/rchain-community@3x.png">
        </div>
        <div>
            <img src="/assets/github@3x.png">
        </div>
        <div>
            <img src="/assets/twitter@3x.png">
        </div>
        <div>
            <img src="/assets/youtube@3x.png">
        </div>
        <div>
            <img src="/assets/linkedin@3x.png">
        </div>
        <div>
            <img src="/assets/telegram@3x.png">
        </div>
        <div>
            <img src="/assets/discord@3x.png">
        </div>
        <div>
            <img src="/assets/reddit@3x.png">
        </div>
    </div>

    <!--
    <div class="flexWrapper">
        <div class="flexWrapper">
            <h2>Latest Articles</h2>
            <div>
                <img src="/assets/placeholder.png">
                <p>Article Title 1</p>
            </div>
            <div>
                <img src="/assets/placeholder.png">
                <p>Article Title 2</p>
            </div>
            <div>
                <img src="/assets/placeholder.png">
                <p>Article Title 3</p>
            </div>
            <a>Read more on the blog</a>
        </div>


        <div class="flexWrapper">
            <div>
                <h2>Upcoming Events</h2>
                <img src="/assets/placeholder.png">
            </div>
            <a>See all events</a>
        </div>
    </div>
    -->

</div>

<div class="section" id="getStartedSection">
    <div>
        <h2>Ready to affect change?</h2>
    </div>
    <div>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

</div>
