<div class="section" id="rchainSection">


    <h1>RChain Cooperative</h1>
    <p>The RChain Cooperative was formed in January 2017 to steward the development and progression of the RChain platform. The cooperative provides the foundational support necessary for RChain to grow into, and remain, a publicly owned and operated information utility. RChain Co-op members invigorate the ecosystem with constant experimentation of governance models, empowering individual agency within a collective. RChain Cooperative members constitute a decentralized autonomous organization. </p>
    <a href="https://member.rchain.coop/#/sign-up" target="_blank" class="btn-blue2">How you can get involved</a>
</div>

<div class="section" id="quoteSection">
    <p><span>"</span>To become a blockchain solution with industrial-scale utility, RChain must provide content delivery at the scale of Facebook and support transactions at the speed of Visa.<span>"</span></p>
    <h6>Greg Meredith</h6>
</div>

<div class="section" id="leadershipSection">
    <div class="flexWrapper">
        <div class="card">
            <img src="/assets/leadership/greg meredith.jpg">
            <div class="textWrapper">
                <h6>President</h6>
                <h4>Greg Meredith</h4>
            </div>
        </div>
        <div class="card">
            <img src="/assets/leadership/kate.jpg">
            <div class="textWrapper">
                <h6>Treasurer & CFO</h6>
                <h4>Kate Gonsalves</h4>
            </div>
        </div>
        <div class="card">
            <img src="/assets/leadership/Evan Jensen.jpg">
            <div class="textWrapper">
                <h6>Secretary</h6>
                <h4>Evan Jensen</h4>
            </div>
        </div>
        <div class="card">
            <img src="/assets/leadership/kenny rowe.jpeg">
            <div class="textWrapper">
                <h6>COO</h6>
                <h4>Kenny Rowe</h4>
            </div>
        </div>
        <div class="card">
            <img src="/assets/leadership/profile 2.jpg">
            <div class="textWrapper">
                <h6>Community Lead</h6>
                <h4>Patrick Maguire</h4>
            </div>
        </div>
    </div>
</div>
