<div class="section" id="rchainSection">


    <h1>The Rho Revolution</h1>
    <h3>Reimagining Blockchain architecture from the ground up</h3>
    <div class="divider"></div>
    <p>RChain is a complete blockchain platform for distributed applications. It is designed for efficiency and sustainability, capable of providing a foundation for coordination at global scale. Rho, the breakthrough in concurrent computing developed by RChain’s Greg Meredith, powers RChain’s intelligent, self-optimizing network.</p>

    <div class="wrapper">
        <div class="imgWrapper">
            <img src="/assets/placeholder.png">
        </div>
        <div class="textWrapper">
            <h2>CURRENT STATE</h2>
            <p>Current blockchain systems are constrained to the single chain problem. This limits you in terms of scale, transaction speed, and concurrency because all nodes have to keep same records. </p>
        </div>
    </div>

    <div class="wrapper">
        <div class="imgWrapper">
            <img src="/assets/placeholder.png">
        </div>
        <div class="textWrapper">
            <h2>RCHAIN</h2>
            <p>RChain’s architecture is smaller multi-chains. It intelligently and autonomously create multiple smaller chains so transactions are recorded more efficiently -- making the whole system run faster.</p>
        </div>
    </div>

</div>

<div class="section" id="rhoSection">
    <div>
        <h3>RHO</h3>
        <h2>Reflective Higher Order Computing</h2>
    </div>
    <div class="flexWrapper">
        <h1>Namespaces + Sharding</h1>
        <div class="flexWrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum dolor sit amet.</p>
        </div>
    </div>
    <div class="flexWrapper">
        <h1>Reflective Artificial Intelligence</h1>
        <div class="flexWrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum dolor sit amet.</p>
        </div>
    </div>
</div>

<div class="section" id="posSection">
    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/placeholder.png">
        </div>
        <div class="textWrapper">
            <h2>Proof Of Stake</h2>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum.</li>
            </ul>
        </div>
    </div>
</div>

<div class="section" id="communitySection">
    <div>
        <h2>Rholang</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus quis dui ac molestie. Nunc augue nulla, ultrices eu bibendum vitae, faucibus dignissim odio. Aliquam vel leo id sem pulvinar ultricies vel eu justo. Proin maximus est magna, sit amet porttitor lacus sodales quis. Nunc dapibus purus lobortis orci dapibus rhoncus. </p>
    </div>

    <div class="flexWrapper">
        <div>
            <img src="/assets/rchain-community@3x.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum.</p>
        </div>
        <div>
            <img src="/assets/github@3x.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum.</p>
        </div>
        <div>
            <img src="/assets/twitter@3x.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, elementum.</p>
        </div>
    </div>
    <div>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

</div>
