<div class="section" id="rchainSection">


    <h1>The RChain Platform</h1>
    <h3>Blockchain that's scalable, efficient, dependable, and truly decentralized</h3>
    <div class="divider"></div>
    <p>RChain is a complete blockchain platform for distributed applications. Intelligent, concurrent execution throughout the network unlocks blockchain's potential for transactions of every type and scale. Designed for maximum efficiency at minimal computational and environmental cost, RChain provides the foundation and utility for global coordination.</p>

    <div class="wrapper">
        <div class="imgWrapper">
            <img src="/assets/platform/1_GIF6_950x580.gif">
        </div>
        <div class="textWrapper">
            <h2>CURRENT STATE</h2>
            <p>Today's blockchains have fallen short.</p>
            <p>Current systems are constrained by the single chain problem. Sequential computing inevitably limits scalability and speed, while increasing transaction costs. Massive energy and computational requirements are major obstacles to mass adoption of decentralized systems.</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="imgWrapper">
            <img src="/assets/platform/2_GIF7_950x580.gif">
        </div>
        <div class="textWrapper">
            <h2>RCHAIN</h2>
            <p>Innovations in consensus and concurrent processing increase transaction velocity, security, scalability, and sustainability.</p>
            <p>Unlike other chains, RChain's concurrent computing capabilities exist natively in the architecture.</p>
        </div>
    </div>

</div>

<div class="section" id="rhoSection">
    <div>
        <h3>RHO</h3>
        <h2>Reflective Higher Order Computing</h2>
        <p>Reflective Higher Order Calculus (Rho Calculus) is the breakthrough computing model that powers RChain. Rho powers RChain’s unmatched efficiency at scale and makes it possible for developers to build safer dApps, faster.</p>
    </div>
    <div class="flexWrapper">
        <h1>Namespaces</h1>
        <div class="flexWrapper">
            <p>Namespaces, virtual groups of RNodes within the RChain network, can be customized by developers for specific parameters.</p>
            <p>Namespaces act as virtual <i>channels</i> on the network, independently and concurrently processing transactions.</p>
            <p>Next-generation sharding divides the network into optimized pieces, eliminating the race conditions found in other chains.</p>
            <p>Developers are empowered to determine how contracts will be executed and optimzed for application-specific requirements.</p>
        </div>
    </div>
    <div class="flexWrapper">
        <h1>Self-verification</h1>
        <div class="flexWrapper">
            <p>Every namespace, process, and transaction is inspected and formally verified before executing.</p>
            <p>Built-in privacy protocols ensure security and data resilience.</p>
            <p>Write code rapidly and confidently, knowing code and contracts must be correct by construction.</p>
            <p>Fine-grained concurrency enables developers to choose an optimal, right-sized validation path for every transaction.</p>
        </div>
    </div>
</div>

<div class="section" id="posSection">
    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/platform/3_GIF8_950x580.gif">
        </div>
        <div class="textWrapper">
            <h2>Proof Of Stake</h2>
            <ul>
                <li>A truly decentralized system with transparent participatory incentives.</li>
                <li>Stake-based systems eliminate computing resource waste.</li>
                <li>Distributes the imbalanced blockchain economic model.</li>
                <li>Sustainable model for unlimited scale and growth.</li>
            </ul>
        </div>
    </div>
</div>

<div class="section" id="communitySection">
    <div>
        <h2>Rholang</h2>
        <p>At the center of the RChain platform is Rholang, a breakthrough smart contract programming language based on Rho-Calculus innovation. Lightweight and expressive by design, Rholang is executed by RNodes with fine-grained concurrency. Rholang gives developers a straightforward, safe, and fast tool for blockchain transactions.</p>
    </div>

    <div class="flexWrapper">
        <div>
            <img src="/assets/platform/RChainHero1991.png">
            <p>Concurrent</p>
        </div>
        <div>
            <img src="/assets/platform/process.png">
            <p>Process-oriented</p>
        </div>
        <div>
            <img src="/assets/platform/RChainHero0941.png">
            <p>Secure</p>
        </div>
    </div>
    <div>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

</div>
