<div class="section" id="rchainSection">
    <h1>The Power of the Cooperative</h1>
    <p>Community members around the globe have begun creating dApps that will seed the RChain ecosystem and awaken higher order coordination within all of us. We will generate new market opportunities and more importantly, new ways of living together on the planet.</p>
    <p>RChain is proud to have a collaborative leadership process. Our cooperative organizational structure fosters co-creation and diversity, allowing anyone with an interest to contribute to our movement. Any member may create a proposal, recruit a working group, and unlock access to resources necessary to deliver. Our goal is to implement fully decentralized mechanisms for will analysis, decision making, resource allocation, and collective execution.</p>
</div>

<div class="section" id="posSection">
    <div class="flexWrapper">
        <div class="imgWrapper">
            <img src="/assets/rchain-community@3x.png">
        </div>
        <div class="textWrapper">
            <h2>Join the Cooperative</h2>
            <p>We need your help. Come help chart our collective course and make our collective impact. Relax, nobody's in charge.</p>
            <ul>
                <li><span></span>One time, small fee to join the cooperative</li>
                <li><span></span>Members elect the <span>board of directors</span></li>
                <li><span></span>Every member (individual or company) receives one vote on key matters at the annual meeting</li>
            </ul>
            <a href="https://member.rchain.coop/#/sign-up" target="_blank" class="btn-blue2">Join Today</a>
        </div>
    </div>
</div>

<div class="section" id="communitySection">
    <div>
        <h2>Join Our Community</h2>
        <p>Community is the heart of RChain. It's the reason we are building technology and social tools to empower change. We are a cooperative network that is optimistic about our future and how we will help each other flourish.</p>
    </div>

    <div class="flexWrapper">
        <div>
            <a href="https://github.com/rchain" target="_blank">
                <img src="/assets/github@3x.png">
            </a>
        </div>
        <div>
            <a href="https://twitter.com/rchain_coop" target="_blank">
            <img src="/assets/twitter@3x.png">
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank">
            <img src="/assets/youtube@3x.png">
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/company/rchain-cooperative/" target="_blank">
            <img src="/assets/linkedin@3x.png">
            </a>
        </div>
        <div>
            <a href="https://t.me/rchain_coop" target="_blank">
            <img src="/assets/telegram@3x.png">
            </a>
        </div>
        <div>
            <a href="https://discordapp.com/invite/fvY8qhx" target="_blank">
            <img src="/assets/discord@3x.png">
            </a>
        </div>
        <div>
            <a href="https://discordapp.com/invite/fvY8qhx" target="_blank">
            <img src="/assets/reddit@3x.png">
            </a>
        </div>
    </div>
</div>

<div class="section" id="articleSection">
    <div class="flexWrapper">
        <div class="flexWrapper">
            <h2>Latest Articles</h2>
            <div>
                <a href="https://blog.rchain.coop/category/learn/" target="_blank">
                <img src="/assets/cooperative/article1.jpg">
                <p>INTRO TO DESIGN OF COMPUTATIONAL CALCULI 1</p>
                </a>
            </div>
            <div>
                <a href="https://blog.rchain.coop/category/community/" target="_blank">
                <img src="/assets/cooperative/article.jpg">
                <p>RCHAIN DEBRIEF 92: VALIDATOR ECONOMICS</p>
                </a>
            </div>
            <div>
                <a href="https://blog.rchain.coop/calculus-primer-%CF%81-calculus/" target="_blank">
                <img src="/assets/cooperative/article3.jpg">
                <p>OMPUTATIONAL CALCULUS PRIMER PART 3: Ρ-CALCULUS</p>
                </a>
            </div>
            <a href="https://blog.rchain.coop/" target="_blank">Read more on the blog</a>
        </div>


        <div class="flexWrapper">
            <div>
                <h2>Upcoming Events</h2>
                <a href="https://developer.rchain.coop/conference" target="_blank">
                <img src="/assets/cooperative/rcon.png">
                </a>
            </div>
            <a href="https://developer.rchain.coop/conference" target="_blank">See all events</a>
        </div>
    </div>
</div>
